* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

h2 {
    color: tomato;
}


.content {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.content .box {
    width: 300px;
    text-align: center;
    padding: 20px;
}

.content .box p {
    color: #555;
    padding-top: 20px;
    line-height: 1.5;
}

.title {
    background-color: rgb(81, 177, 237);
    color: white;
    padding: 10px;
    text-align: center;
}


.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2 h2 {
    color: seagreen;
    padding-top: 40px;
}

.cards {
    display: flex;
    margin: 0px 60px 60px 60px;
}

.cards .card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    margin: 20px;
    padding: 20px;
}

.card h3 {
    color: #555;
    font-size: 24px;
    padding: 20px 0px;
}

.card p {
    color: #888;
    line-height: 1.5;
}

.card .pblue {
    color: cadetblue;
    line-height: 1.5;
    margin-bottom: 10px;
}

.price {
    margin-top: 10px;
    text-align: center;
}
.span1 {
    font-size: 18px;
    text-decoration: line-through;

}
.span2 {
    color: tomato;
    font-size: 24px;
    text-align: center;
    margin: 15px;
}

button {
    width: 100%;
    line-height: 36px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    margin-top: 15px;
}

footer {
    background-color: rgb(30, 58, 78);
    color: white;
    line-height: 60px;
    text-align: center;
}


/* h1 {
    font-size: 36px;
}
.myUnderLine {
    border-bottom: 5px double tomato;
} */